*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
height: 80px;
width: 100%;
display:flex ;
align-items: center;
padding: 0 20px;
justify-content: space-between;
}
#nav img{
    height: 80px;
    padding-left: 130px;
}
#nav-part1{
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: center;
}
#nav-part1 h5{
    font-size: 15px;
   color: #040404;
   font-weight: 600;
   cursor: pointer;
}
#nav-part1 #go{
    color: #F082AC;
}
#nav-part2 {
    display: flex;
    font-size: 15px;
   color: #050505;
   gap: 20px;
   font-weight: 600;
}
#nav-part2 h5{
    font-size: 15px;
    color: #050505;
    font-weight: 600;
    padding-right: 30px;
    padding-top: 10px;
    cursor: pointer;
}
#nav-part2 button{
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
#nav-part2 #btn2{
    background-color: #0d0c0c;
    color: white;
}

#center{
    height:76% ;
    width: 100%;
    background-color: black;
    position: relative;
}
video{
    height:100% ;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.584);
    top: 0;
    position: absolute;
}

#info{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#info h4{
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.3s ;
}
#info h4:nth-child(1)
{
    background-color: white;
    color: black;
}

#info h4:hover{
    background-color: white;
    color: black;
}
#overlay h1{
    margin-top: 30px;
    color: white;
    text-align: center;
}
#overlay p{
    margin-top: 20px;
    line-height: 25px;
    font-size: 17px;
    color: white;
    text-align: center;
}
#overlay input{
    width: 40%;
    margin-left:30%;
    padding:19px 26px;
    border-radius: 50px;
    border: none;
    margin-top: 40px;
    outline: none;
}
#info2{
    height: 120px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
}
#info2 h4{
    padding: 3px 14px;
    font-size: 14px;
    font-weight: 500;
    border:1px solid white ;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s ;
}
#info2 h5{
    font-weight: 300;
}
#bottom{
    padding: 30px;
    height:100%;
    width: 100%;
}
.elem{
    background-color: red;  
    height: 250px;
    width: 300px;
    border-radius: 10px;
    margin: 30px;
    display:inline-block;
    position: relative;
    overflow: hidden;
}

.elem img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#cover{
    height:30%;
    width: 100%;
    background:linear-gradient(transparent,black);
    position: absolute;
    bottom: -30%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 15px;
    transition: all ease 0.5s;
}
#cover h5{
    color: white;
    font-size: 18px;
}
#cover i{
    color: grey;
    background-color: white;
    padding: 6px;
    border-radius: 5px;}

.elem:hover #cover{
    bottom: 0%;
    }


